body {
    background-color: white;
}

#start {
    display: flex;
    flex-direction: row;
}

#search {
    margin-left: 400px;
    margin-top: 20px;
}

#triplesstore {
    margin-left: 100px;
    margin-top: 20px;
    font-weight: bolder;
    color: red;
}

#line {
    width: 100%;
    height: 2px;
    background-color: red;
}

#step2 {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}

#step3 {
    margin-top: 180px;
}

#step4 {
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 12px;
    padding-bottom: 11px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: crimson;
    width: 105px;
    margin-left: 83px;
    color: white;
    font-weight: bolder;
}

#step5 {
    margin-top: 60px;
    margin-left: 110px;
}

#step6 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 55px;
    margin-top: 100px;
    margin-bottom: 0px;
}

#step7 {
    margin-top: 5px;
    margin-left: 669.5px;
    width: 90.5px;
    height: 3.5px;
    background-color: crimson;
}

#lines {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.step8 {
    width: 250px;
    background-color: lightgrey;
    height: 5px;
    margin-bottom: 0px;
    margin-left: 110px;
    margin-right: 0px;
}

.step9 {
    width: 250px;
    background-color: lightgrey;
    height: 5px;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 0px;
}

.step10 {
    width: 250px;
    background-color: lightgray;
    height: 5px;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 0px;
}

.step11 {
    width: 250px;
    background-color: lightgrey;
    height: 5px;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 20px;
}

#step12 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 0px;
}

#bat {
    height: 200px;
    margin-left: 110px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#football {
    height: 200px;
    margin-left: 65px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#ball {
    height: 200px;
    margin-left: 65px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#shoes1 {
    height: 200px;
    margin-left: 65px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#step13 {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 15;
    margin-bottom: 0px;
}

#allstars {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 0px;
}

#stars1 {
    margin-top: 0px;
    margin-left: 110px;
    margin-bottom: 0px;
}

#stars2 {
    margin-top: 0px;
    margin-left: 230px;
    margin-bottom: 0px;
}

#stars3 {
    margin-top: 0px;
    margin-left: 230px;
    margin-bottom: 0px;
}

#stars4 {
    margin-top: 0px;
    margin-left: 230px;
    margin-bottom: 0px;
}

#red {
    color: red;
}

#price {
    margin: 5px;
    color: black;
    font-size: 22;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

#step14 {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

#jersey {
    height: 200px;
    margin-left: 280px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#shoes2 {
    height: 200px;
    margin-left: 380px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#stars5 {
    margin-top: 8px;
    margin-left: 280px;
    margin-bottom: 0px;
}

#stars6 {
    margin-top: 8px;
    margin-left: 542px;
    margin-bottom: 0px;
}

#step15 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 15;
    margin-bottom: 0px;
}

#step16 {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}

#shoes3 {
    height: 200px;
    margin-left: 80px;
    width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#shoes4 {
    height: 200px;
    margin-left: 180px;
    width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#shoes5 {
    height: 200px;
    margin-left: 180px;
    width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    background-color: lightgray;
    margin-bottom: 0px;
}

#step17 {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 15;
    margin-bottom: 0px;
}

#stars7 {
    margin-top: 8px;
    margin-left: 84px;
    margin-bottom: 0px;
}

#stars8 {
    margin-top: 8px;
    margin-left: 388px;
    margin-bottom: 0px;
}

#stars9 {
    margin-top: 8px;
    margin-left: 393px;
    margin-bottom: 0px;
}

#main {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 73px;
}

#sub1 {
    margin-top: 80px;
    padding-bottom: 160px;
    padding-left: 156px;
    background-color: #ffcccb;
}

#watch {
    height: 340px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 80px;
    padding-left: 60px;
    background-color: #ffb3b2;
}

#sub3 {
    margin-top: 80px;
    background-color: #ff9a98;
}

#details {}

#sub4 {}